html {
    overflow: hidden;
    cursor: none;
}

body {
    margin: 0;
}

#background {
    width: 100vw;
    height: 100vh;
    background-color: lightgrey;
}

#cursor {
    top: -50vh;
    left: -50vw;
    position: absolute;
    object-fit: cover;
    height: max(200vh, 115vw);
    pointer-events: none;
    z-index: 10;
}

#test {
    top: 5px;
    left: 5px;
    z-index: 11;
    position: absolute;
    border-style: solid;
    border-color: white;
    width: 100px;
    height: 100px;
}

#test2 {
    top: 10px;
    left: 10px;
    z-index: 12;
    position: absolute;
    border-style: solid;
    border-color: red;
    width: 100px;
    height: 100px;
}