html {
    overflow: hidden;
    cursor: none;
}

body {
    margin: 0;
}

#background {
    width: 100vw;
    height: 100vh;
    background-color: lightgrey;
}

#cursor {
    top: 50vh;
    left: 50vw;
    position: absolute;
    object-fit: cover;
    height: max(200vh, 115vw);
    pointer-events: none;
    z-index: 10;
}