html {
    overflow: hidden;
}

body {
    margin: 0;
}

#background {
    width: 100vw;
    height: 100vh;
    background-color: lightgrey;
}

#cursor {
    position: absolute;
    object-fit: cover;
    width: 10vh;
}